<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite               name="Suite">
  <test thread-count="10" parallel="classes" name="Test">
    <classes>
      <class name="api.com.WireMock.GetRequestWireMockwithBasicAuth"/>
      <class name="api.com.WireMock.Oauth1PostRequestWireMock"/>
      <class name="api.com.WireMock.PutRequestWireMock"/>
      <class name="api.com.WireMock.AwsSignGetRequestWireMock"/>
      <class name="api.com.WireMock.ApikeyGetRequestWireMock"/>
      <class name="api.com.WireMock.GetByIdRequestWireMockwithNTLMAuth"/>
      <class name="api.com.WireMock.HawkAuthGetWireMock"/>
      <class name="api.com.WireMock.PatchRequestWireMock"/>
      <class name="api.com.WireMock.AkamaiGetRequestWiremock"/>
      <class name="api.com.WireMock.JWTBearerDeleteWiremock"/>
      <class name="api.com.WireMock.PostRequestWireMockwithBearerToken"/>
      <class name="api.com.WireMock.DeleteRequestWireMockNoAuth"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
